@media (max-width: 1200px) {
    .username span {
      padding: 21px 40px;
      background-size: 110% 124%;
    }
    .moneytxt h6 {
      font-size: 33px;
    }
    .moneytxt {
      width: 38%;
    }
    .limboimg {
      text-align: center;
      margin: 30px 0 40px 0;
    }
    .totaldetail {
      margin: 0 0 45px 0;
    }
    .mainwrapp {
      /* padding: 0 0 250px 0; */
    }
  
    .navfix {
      padding: 36px 0 10px 0;
    }
    .navfix ul li span {
      font-size: 18px;
    }
    .navfix ul li span:first-child {
      margin: 0 0 10px 0;
    }
    .navfix ul li img {
      width: 24px;
    }
    .navfix ul li.active img {
      width: 30px;
    }
    .navfix ul li.active span {
      font-size: 22px;
    }
    .navfix ul li.active:after {
      top: -36px;
      background-size: 180px;
    }
    .navfix ul li.active:before {
      top: -36px;
      width: 83px;
      height: 6px;
    }
    .wonwrap img {
      width: 70%;
    }
    .wonlosebg {
      font-size: 50px;
      padding: 42px 0 55px 0;
      max-width: 449px;
    }
    .taskhead h5 {
      font-size: 40px;
    }
    .taskhead h6 {
      font-size: 30px;
      padding: 0 0 25px 0;
    }
    .walletarea button {
      font-size: 36px;
      padding: 12px 18px;
    }
  
    .taskmain .walletarea button {
      width: 70%;
    }
    .taskbgpopup {
      padding: 15px 35px 60px 35px;
    }
    .moneyshow {
      border-radius: 20px;
      font-size: 30px;
      margin: 15px auto;
      max-width: 300px;
      padding: 10px 0;
    }
    .moneyshow img {
      width: 30px;
      margin: 0 10px 0 0;
    }
    .claimarea .modal-body:before {
      width: 73px;
      height: 10px;
      top: 22px;
    }
    .taskmain {
      margin: 40px 0 0 0;
    }
    .claimarea .modal-body:after {
      top: -12px;
    }
  }
  @media only screen and (min-width: 1243px) {
    h2 {
      font-size: 30px;
    }
    .headermenu a {
      font-size: 25px;
    }
    .arrowburger a img {
      width: 20px;
    }
    .menuicons {
      margin: 0 0 0 12px;
    }
  
    .headermenu {
      padding: 12px 22px 20px 22px;
    }
    .moneytxt h6 {
      font-size: 20px;
    }
    .username span {
      font-size: 18px;
      padding: 8px 38px;
      width: 100%;
      display: inline-block;
      background-size: cover;
    }
    .usericon img {
      width: 100px;
    }
    .usericon:before {
      width: 105px;
      height: 105px;
    }
    .usericon:after {
      width: 105px;
      height: 105px;
    }
    .usericon {
      max-width: 100px;
    }
    .moneytxt img {
      width: 50px;
    }
    .adlogo img {
      width: 70px;
    }
    .profileedit .usericon img {
      width: 100%;
    }
    .adtext h5 {
      font-size: 30px;
    }
    .adtext {
      font-size: 30px;
      margin: 0 0 0 20px;
    }
    .adtext span img {
      max-width: 40px;
    }
  
    .greendivin {
      width: 30px;
      height: 30px;
    }
    .greendiv {
      background-size: cover;
      width: 44px;
      height: 44px;
    }
  
    .limboimg {
      text-align: center;
      margin: 60px 0 43px 0;
    }
    .totaldetail h6 {
      font-size: 25px;
    }
    .filledline {
      height: 16px;
    }
    .fill {
      height: 20px;
    }
    .totallft h3 {
      font-size: 20px;
      padding: 10px 0;
    }
    .totallft {
      padding: 10px 12px 0px 12px;
    }
    .mainwrapp {
      padding: 0 0 200px 0;
    }
    .adareap {
      margin: 30px 0 0 0;
    }
  }
  
  @media (min-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
      max-width: 1040px;
    }
  }
  @media (max-width: 1024px) {
    .totaldetail h6 {
      font-size: 26px;
    }
    .headermenu a {
      font-size: 25px;
    }
    .menuicons {
      margin: 0 0 0 12px;
    }
    .headbg .headermenu a img {
      width: 30px;
    }
    h2 {
      font-size: 30px;
    }
    .limboimg {
      margin: 30px 0 43px 0;
    }
  
    .mainwrapp {
      padding: 0 0 200px 0;
    }
    .container {
      max-width: 90%;
    }
    .adtext h5,
    .adtext {
      font-size: 30px;
    }
    .adlogo img {
      width: 90px;
    }
    .totallft {
      margin: 0 0 20px 0;
    }
    .totaldetail {
      margin: 0;
    }
    .filledline {
      width: 50%;
    }
    .moneytxt h6 {
      font-size: 25px;
    }
  
    .moneytxt img {
      width: 50px;
    }
    .numberlist ul li a {
      font-size: 20px;
    }
    .choosenu ul li a {
      font-size: 22px;
    }
    .choosenu ul li {
      height: 60px;
      margin: 0 0 8px 0;
    }
    .choosenu h6 {
      font-size: 16px;
      padding: 8px 0 10px 0;
    }
    .circleimg img {
      width: 50%;
    }
  
    .numberlist ul li {
      max-width: 80px;
      height: 38px;
      border-radius: 10px;
    }
    .numberlist ul li {
      max-width: 60px;
      height: 30px;
    }
  
    .navfix {
      padding: 36px 0 10px 0;
    }
    .navfix ul li span {
      font-size: 18px;
    }
    .navfix ul li span:first-child {
      margin: 0 0 10px 0;
    }
    .navfix ul li img {
      width: 24px;
    }
    .navfix ul li.active img {
      width: 30px;
    }
    .navfix ul li.active span {
      font-size: 22px;
    }
    .navfix ul li.active:after {
      top: -36px;
      background-size: 180px;
    }
    .navfix ul li.active:before {
      top: -36px;
      width: 83px;
      height: 4px;
    }
    .inputtxt img {
      width: 30px;
    }
    .inputtxt input {
      font-size: 20px;
    }
    .betbtn button {
      font-size: 25px;
    }
    .inputtxt input {
      font-size: 20px;
      padding: 0;
    }
  
    .betamount h5 {
      font-size: 30px;
    }
    .progresiontxt h6 {
      font-size: 30px;
    }
    .progressbarmainf img {
      width: 70%;
    }
    .withdraw-wrap .nav-tabs .nav-link {
      max-width: 162px;
      background-size: 100% 100%;
      font-size: 18px;
    }
    .titlebg h6 {
      font-size: 20px;
    }
    .checkicon {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    .checkicon img {
      width: 16px;
    }
    .rewararea {
      font-size: 25px;
      margin: 0 18px;
    }
    .withdrawheading h2 {
      font-size: 30px;
    }
    .arrowdiv {
      margin: 0;
    }
    .arrowdiv img {
      width: 20px;
    }
    .rewararea img {
      width: 20px;
    }
  
    .greendivin {
      width: 30px;
      height: 30px;
    }
    .greendiv {
      background-size: cover;
      width: 44px;
      height: 44px;
    }
    .totallft h3 {
      font-size: 30px;
      padding: 10px 0;
    }
  
    .usericon:before {
      width: 105px;
      height: 105px;
    }
    .usericon:after {
      width: 105px;
      height: 105px;
    }
    .usericon {
      max-width: 100px;
    }
  
    .usericon img {
      width: 100px;
    }
    .choosenubg ul {
      padding: 0 22px;
    }
    .mainform {
      margin: 26px 0 0 0;
      padding: 20px 0 1px 0;
      border-radius: 20px;
    }
  
    .formlabels {
      border-radius: 25px;
      border: 3px solid rgba(104, 71, 168, 0.5);
      margin: 0 10px 10px 10px;
      padding: 10px;
    }
    .formlabels input,
    .formlabels select {
      font-size: 16px;
      padding: 12px 12px;
      border-radius: 14px;
      border: 3px solid rgba(104, 71, 168, 0.3);
    }
    .formselect:after {
      background-size: 15px;
      width: 40px;
      height: 19px;
      right: 17px;
      padding: 19px 0;
      border-left: 3px solid rgba(104, 71, 168, 0.5);
    }
  
    .mainform label {
      font-size: 14px;
      top: -13px;
      left: 22px;
    }
    .withdrawbtn button {
      font-size: 18px;
      width: 100%;
      max-width: 70%;
      padding: 2px 0;
    }
    .withdrawbtn {
      margin: 22px 0 32px 0;
    }
    .withdrawheading a img {
      width: 20px;
    }
    .historywrap tr td {
      font-size: 26px;
      padding: 15px 0;
    }
    .historywrap tr td span {
      font-size: 20px;
    }
    .historywrap tr th {
      font-size: 25px;
    }
    .historywrap tbody tr td:first-child,
    .historywrap thead tr th:first-child {
      padding-left: 25px;
      width: 13%;
    }
    .withdrawbtn2 .greentxt {
      margin: 0 0 20px 0;
    }
  
    .username span {
      font-size: 16px;
      padding: 12px 20px;
    }
  
    .bgareasame p {
      font-size: 22px;
    }
    .walletarea h3 {
      font-size: 20px;
      padding: 0 0 10px 0;
    }
    .walletarea button {
      border-radius: 20px;
      font-size: 22px;
      padding: 12px 28px;
    }
    .walletarea button img {
      width: 30px;
    }
    .infoarea img {
      width: 30px;
    }
    .withdraw-wrap .nav-tabs {
      margin: 0 0 30px 0;
    }
  
    .depositewwrap p {
      font-size: 20px;
    }
    .depositewwrap .withdrawbtn2 .greentxt {
      margin: 0;
    }
    .frndimg {
      margin: 40px 0 0 0;
    }
    .invitecopytxt a img {
      width: 43px;
    }
    .playarea img {
      width: 80%;
    }
    .invitearea {
      border-radius: 32px;
      padding: 17px 14px 20px 14px;
      width: 50%;
      margin: 0 auto 30px auto;
    }
    .invitecopytxt a img {
      margin: 0 0 0 10px;
    }
    .frndimg img {
      width: 150px;
    }
  
    .stringarea h3 img {
      width: 30px;
      margin: 0 6px 0 0;
    }
  
    .stringarea h3 {
      font-size: 15px;
    }
    .balacecountlft h6 {
      font-size: 36px;
    }
    .balacecountryt {
      font-size: 24px;
    }
    .balacecountlft img {
      width: 50px;
    }
    .balacecountdiv {
      padding: 25px 29px 25px 25px;
      margin: 0 0 16px 0;
    }
    .notearea h6 {
      font-size: 34px;
      padding: 0 0 14px 0;
    }
    .notearea p {
      font-size: 30px;
      margin: 0;
    }
    .profilebtn {
      margin: 37px 0 57px 0;
    }
    .moneynumber h2 {
      font-size: 50px;
    }
    .moneyicon2 span {
      font-size: 30px;
    }
    .moneyicon2 img {
      width: 30px;
    }
    .header2 .usericon img {
      width: 180px;
    }
    .header2 .usericon:before {
      width: 198px;
      height: 198px;
    }
    .header2 .usericon {
      max-width: 178px;
    }
    .header2 .usericon:after {
      width: 203px;
      height: 203px;
    }
    .header2 .username span {
      font-size: 25px;
    }
    .header2 .username img {
      width: 59px;
    }
    .profileedit .username a {
      top: -15px;
      right: -15px;
    }
    .editform {
      margin: 26px 0;
    }
    .balancetxt {
      margin: 0 auto 10px auto;
    }
    .withdrawmainb {
      margin: 23px 0 40px 0;
    }
  }
  @media (max-width: 768px) {
    .navfix ul li.active:before {
      top: -14px;
      width: 33px;
    }
    .navfix {
      padding: 16px 0 10px 0;
      border-radius: 20px;
    }
    .navfix ul li.active:after {
      top: -16px;
      background-size: 140px;
    }
    .positiona img {
      width: 100%;
    }
    .positiona {
      width: 60px;
      left: 0;
    }
  
    .checkicon {
      width: 30px;
      height: 30px;
      line-height: 27px;
    }
    .withdraw-wrap .nav-tabs .nav-link {
      max-width: 116px;
      font-size: 15px;
    }
    .navfix ul li {
      width: 18%;
    }
    .progresiontxt h6 {
      font-size: 16px;
      padding: 0;
    }
    .greendivin {
      width: 20px;
      height: 20px;
    }
    .greendiv {
      width: 34px;
      height: 34px;
    }
  }
  @media (max-width: 767px) {
    h2 {
      font-size: 20px;
    }
    .headermenu a {
      font-size: 15px;
    }
    .moneytxt h6 {
      font-size: 16px;
    }
    .arrowburger img {
      width: 30px;
    }
    .menuicons {
      margin: 0 0 0 6px;
    }
    .headermenu {
      padding: 8px 10px 8px 10px;
    }
    .totallft h3 {
      font-size: 20px;
      padding: 10px 0 0 0;
    }
    .moneytxt {
      /* width: 32%; */
      background-size: 100% 100%;
    }
    .headbg .headermenu a img {
      width: 15px;
    }
    .moneytxt img {
      width: 50px;
    }
    .adtext h5 {
      font-size: 16px;
    }
    .adtext {
      font-size: 15px;
      margin: 0 0 0 14px;
    }
    .adtext span img {
      max-width: 20px;
    }
    .adarea {
      padding: 11px 10px 11px 10px;
      border-radius: 20px;
      margin: 10px 0 0 0;
    }
    .adlogo img {
      width: 34px;
    }
    .totaldetail h6 {
      font-size: 15px;
      padding: 0 0 10px 0;
    }
    .playedtxt {
      padding: 14px 15px 14px 15px;
    }
    .mainwrapp {
      padding: 0 0 150px 0;
    }
    .textdiv span {
      font-size: 12px;
    }
    .arrowdiv img {
      width: 8px;
    }
    .rewardarea {
      padding: 0 14px 1px 14px;
    }
    .stringarea {
      padding: 10px 6px;
      margin: 0 0 10px 0;
    }
    .stringwrapp {
      padding: 10px 10px 13px 10px;
    }
    .limboimg {
      margin: 20px 0 30px 0;
    }
    .limboimg img {
      width: 45%;
    }
    .withdrawheading h2 {
      font-size: 16px;
    }
    .withdrawtab .withdrawheading h2 {
      padding: 6px 0;
    }
    .rewararea {
      font-size: 18px;
    }
    .numberlist ul {
      padding: 6px 0;
    }
    .choosenu ul li a {
      font-size: 16px;
      border-radius: 7px;
    }
    .choosenu ul li {
      height: 35px;
    }
    .choosenubg ul {
      padding: 0 10px;
    }
    .betamount h5 {
      font-size: 16px;
      padding: 0 0 10px 0;
    }
    .betamntbtn > div {
      width: 50%;
      padding: 3px 18px;
    }
    .betbtn button {
      font-size: 16px;
    }
    .inputtxt input {
      font-size: 16px;
    }
    .inputtxt img {
      width: 22px;
    }
    .betamount {
      padding: 10px 8px 10px 8px;
      border-radius: 22px;
    }
    .betwrap .adarea {
      margin: 20px auto 0 auto;
    }
    .betamntbtn > div {
      height: 30px;
      border: 2px solid rgba(104, 71, 168, 0.3);
      align-items: center;
    }
    .betamntbtn .betbtn {
      border: 0;
    }
    .header {
      margin: 0px 0 16px 0;
    }
    .titlebg {
      max-width: 170px;
    }
    .titlebg h6 {
      font-size: 16px;
    }
    .container {
      max-width: 94%;
    }
    .numberlist ul li a {
      font-size: 16px;
      border-radius: 6px;
    }
    .navfix ul li img {
      width: 16px;
    }
    .navfix ul li span {
      font-size: 16px;
    }
    .navfix ul li span:first-child {
      margin: 0 0 5px 0;
    }
    .navfix ul li.active span {
      font-size: 18px;
    }
    .navfix ul li.active img {
      width: 26px;
    }
    .historywrap tr td {
      font-size: 18px;
      padding: 15px 0;
    }
    .historywrap tbody tr,
    .historywrap tbody tr.pinkbg {
      background-position: -4px 0;
    }
  
    .historywrap thead tr {
      background-position: 5px 0px;
    }
    .historywrap tr td span {
      font-size: 14px;
    }
    .historywrap tr th {
      font-size: 16px;
    }
    .historytable {
      overflow: scroll;
    }
    .historytable table {
      width: 500px !important;
    }
    .withdrawbtn2 .greentxt {
      margin: 0 0 10px 0;
    }
    .withdrawheading a img {
      width: 10px;
    }
    .formlabels {
      padding: 6px;
    }
    .formlabels input,
    .formlabels select {
      padding: 9px 12px;
    }
    .withdrawbtn button {
      font-size: 14px;
      padding: 4px 0;
    }
    .bgareasame p {
      font-size: 16px;
    }
    .bgareasame {
      border-radius: 32px;
      padding: 15px;
      margin: 0 0 14px 0;
    }
    .walletarea button {
      border-radius: 14px;
      font-size: 18px;
      padding: 4px 18px;
    }
    .walletarea h3 {
      font-size: 16px;
    }
    .withdraw-wrap .nav-tabs {
      margin: 0 0 15px 0;
    }
  
    .playarea img {
      width: 60%;
    }
    .invitearea {
      width: 75%;
    }
    .wonlosebg {
      font-size: 30px;
      padding: 30px 0 35px 0;
      max-width: 249px;
    }
    .taskhead h5 {
      font-size: 20px;
    } 
    .taskhead h6 {
      font-size: 14px;
      padding: 0 0 15px 0;
    }
    .moneyshow {
      font-size: 16px;
      max-width: 160px;
      padding: 6px 0;
      border-radius: 10px;
    }
    .taskmain {
      margin: 19px 0 0 0;
    }
    .moneyshow img {
      width: 20px;
      margin: 0 5px 0 0;
    }
    .claimarea .modal-body:before {
      width: 40px;
      height: 6px;
      top: 6px;
    }
    .claimarea .modal-content {
      border-radius: 40px;
    }
    .claimarea .modal-body:after {
      top: -8px;
    }
    .claimarea .modal-body {
      padding: 0 10px;
    }
    .taskbgpopup {
      border-radius: 40px;
    }
  
    .header2 .usericon {
      max-width: 89px;
    }
    .header2 .usericon img {
      width: 90px;
    }
    .header2 .usericon:before {
      width: 100px;
      height: 100px;
    }
    .header2 .usericon:after {
      width: 105px;
      height: 105px;
    }
    .header2 .username span {
      font-size: 16px;
    }
    .header2 .username img {
      width: 34px;
    }
    .profileedit .username a {
      top: -12px;
      right: -3px;
    }
    .usericon img {
      width: 100%;
    }
    .header2 .profileedit {
      width: 36%;
      top: 70px;
    }
    .header2 .moneytxt {
      width: 40%;
    }
    .profilemain {
      padding: 65px 0 0 0;
    }
    .moneynumber h2 {
      font-size: 22px;
    }
    .moneyicon2 span {
      font-size: 14px;
    }
    .moneyicon2 img {
      margin: 0 4px 0 0;
      width: 24px;
    }
    .moneynumber {
      padding: 15px 0 9px 0;
    }
    .balacecountlft h6 {
      font-size: 18px;
    }
    .balacecountryt {
      font-size: 16px;
    }
    .balacecountlft img {
      width: 22px;
      margin: 0 5px 0 0;
    }
    .notearea h6 {
      font-size: 20px;
      padding: 0px 0 8px 0;
    }
    .notearea p {
      font-size: 16px;
    }
    .profilebtn {
      margin: 17px 0 27px 0;
    }
    .withdraw-wrap {
      margin: 0 0 20px 0;
    }
    .fill {
      height: 18px;
    }
    .filledline {
      height: 13px;
    }
    .totallft {
      border-radius: 20px;
      padding: 8px 5px;
    }
    .navfix ul li.active:after {
      top: -22px;
      background-size: 80px;
    }
    .progressbarmainf {
      background-position: 100% 60%;
    }
    .progresiontxt {
      padding: 8px;
      border-radius: 12px;
    }
    .progresionmain {
      padding: 6px;
      border-radius: 12px;
    }
    .balacecountdiv {
      padding: 15px 12px;
      margin: 0 0 6px 0;
      background-size: 101% 100%;
    }
    .notearea p {
      font-size: 16px;
    }
    .balacecount {
      margin: 0 0 18px 0;
    }
    .notearea {
      padding: 9px 10px 15px 10px;
      border-radius: 14px;
    }
    .balancetxt {
      margin: 0;
    }
    .withdrawbtn {
      margin: 9px 0 19px 0;
    }
    .depositewwrap p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .moneytxt {
      width: 36%;
    }
    .username span {
      font-size: 14px;
      padding: 9px 12px;
      display: block;
    }
    .moneytxt img {
      width: 30px;
    }
    .moneytxt h6 {
      font-size: 14px;
    }
  
    .usericon img {
      width: 80px;
    }
    .usericon:before {
      width: 85px;
      height: 85px;
    }
    .usericon:after {
      width: 85px;
      height: 85px;
    }
    .usericon {
      max-width: 80px;
    }
    .choosenu ul li a {
      font-size: 14px;
      border: 2px solid #16183e;
    }
    .choosenu ul li a.active {
      border: 2px solid #f8c902;

    }
    .numberlist ul li a {
      font-size: 14px;
    }
    .numberlist ul li {
      max-width: 49px;
      height: 28px;
    } 

  }
  