@media (max-width: 1200px) {
    .username span {
        padding: 21px 40px;
        background-size: 110% 124%;

    }
    .moneytxt h6 {
        font-size: 33px;
    }
    .moneytxt {
        width: 38%;
    }
    .limboimg {
        text-align: center;
        margin: 30px 0 40px 0;
    }
    .totaldetail {
        margin: 0 0 45px 0;
    }
    .mainwrapp {
        padding: 0 0 250px 0;
    }
}
@media only screen and (min-width: 1243px) { 
    h2 {
        font-size: 30px;
    }
    .headermenu a {
        font-size: 25px;
    }
    .arrowburger a img {
        width: 20px;
    }
    .menuicons {
        margin: 0 0 0 12px;
    }

    .headermenu {
        padding: 12px 22px 20px 22px;
    }
    .moneytxt h6 {
        font-size: 20px;
    }
    .username span {
        font-size: 18px;
        padding: 8px 38px;
        width: 100%;
        display: inline-block;
        background-size: cover;
    }
    .usericon img {
        width: 100px;
    }
    .usericon:before {
        width: 105px;
        height: 105px;
    }
    .usericon:after {
        width: 105px;
        height: 105px;
    }
    .usericon {
        max-width: 100px;
    }
    .moneytxt img {
        width: 50px;
    }
    .adlogo img {
        width: 70px;
    }
    
.adtext h5 {
    font-size: 30px;
}
.adtext {
    font-size: 30px;
    margin: 0 0 0 20px;
}
.adtext span img {
    max-width: 40px;
}

.greendivin {
    width: 30px;
    height: 30px;
}
.greendiv { 
    background-size: cover;
    width: 44px;
    height: 44px;
}

.limboimg {
    text-align: center;
    margin: 60px 0 43px 0;
}
.totaldetail h6 {
    font-size: 25px;
}
.filledline {
    height: 16px;
}
.fill {
    height: 20px;
}
.totallft h3 {
    font-size: 20px;
    padding: 10px 0;
}
.totallft {    
    padding: 10px 12px 0px 12px;
}
.navfix {
    padding: 36px 0 10px 0;
}
.navfix ul li span {
    font-size: 18px;
}
.navfix ul li span:first-child {
    margin: 0 0 10px 0;
}
.navfix ul li img {
    width: 24px;
}
.navfix ul li.active img {
    width: 30px;
}
.navfix ul li.active span {
    font-size: 22px;
}
.navfix ul li.active:after {
    top: -36px;
    background-size: 180px;
}
.navfix ul li.active:before {
    top: -36px;
    width: 83px;
    height: 6px;
}
.mainwrapp {
    padding: 0 0 200px 0;
}
.adareap {
    margin: 30px 0 0 0;
}
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1040px;
    }
}
@media (max-width: 1024px){
    .totaldetail h6 {
        font-size: 26px;
    }
    .headermenu a {
        font-size: 25px;
    }
    .menuicons {
        margin: 0 0 0 12px;
    }
    .headbg a img {
        width: 30px;
    }
    h2 {
        font-size: 30px;
    }
    .limboimg {
        margin: 30px 0 43px 0;
    }
    
    .mainwrapp {
        padding: 0 0 200px 0;
    }
    .container{
        max-width: 90%;
    }
    .adtext h5, .adtext {
        font-size: 30px;
    }
    .adlogo img {
        width: 90px;
    }
    .totallft { 
        width: 100%;
        margin: 0 0 20px 0;
    }
    .totaldetail {
        flex-wrap: wrap;
        margin: 0;
    }
    .moneytxt {
        width: 34%;
    }
    .moneytxt h6 {
        font-size: 25px;
    }
    
    .moneytxt img {
        width: 50px;
    }
    .numberlist ul li a {
        font-size: 20px;
    } 
    .choosenu ul li a {
        font-size: 22px;
    }
    .choosenu ul li {
        max-width: 76px;
        width: 100%;
        height: 60px;
        margin: 0 0 8px 0;
    }
    .choosenu h6 {
        font-size: 20px;
        padding: 8px 0 10px 0
    }
    .circleimg img {
        width: 50%;
    }
    
    .numberlist ul li {
        max-width: 80px;
        height: 38px;
        border-radius: 10px;
    }
    .numberlist ul li {
        max-width: 60px;
        height: 30px;
    }
}
    
.navfix {
    padding: 36px 0 10px 0;
}
.navfix ul li span {
    font-size: 18px;
}
.navfix ul li span:first-child {
    margin: 0 0 10px 0;
}
.navfix ul li img {
    width: 24px;
}
.navfix ul li.active img {
    width: 30px;
}
.navfix ul li.active span {
    font-size: 22px;
}
.navfix ul li.active:after {
    top: -36px;
    background-size: 180px;
}
.navfix ul li.active:before {
    top: -36px;
    width: 83px;
    height: 6px;
}
.inputtxt img {
    width: 30px;
}
.inputtxt input {
    font-size: 20px;
}
.betbtn button {
    font-size: 25px;
}
.inputtxt input { 
    font-size: 20px; 
    padding: 0;
}

.betamount h5 {
    font-size: 30px;
}
.progresiontxt h6 {
    font-size: 30px;
}
.progressbarmainf img {
    width: 70%;
}
.withdraw-wrap .nav-tabs .nav-link {
    max-width: 162px;
    background-size: 100% 100%;
    font-size: 18px;
}
.titlebg h6 {
    font-size: 20px;
}
.checkicon {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.checkicon img {
    width: 16px;
}
.rewararea {
    font-size: 25px;
    margin: 0 18px;
}
.withdrawheading h2 {
    font-size: 30px;
}
.arrowdiv {
    margin: 0;
}
.arrowdiv img {
    width: 20px;
}
.rewararea img {
    width: 20px;
}

.greendivin {
    width: 30px;
    height: 30px;
}
.greendiv {
    background-size: cover;
    width: 44px;
    height: 44px;
}
.totallft h3 {
    font-size: 35px;
    padding: 10px 0;
}

.usericon:before {
    width: 105px;
    height: 105px;
}
.usericon:after {
    width: 105px;
    height: 105px;
} 
.usericon {
    max-width: 100px;
}

.usericon img {
    width: 100px;
}
.choosenubg ul {
    padding: 0 22px;
}
@media (max-width: 768px) {
    
    
    .username span {
        padding: 21px 20px;
        background-size: 110% 124%;
        font-size: 22px;
    } 
    .navfix ul li.active:before {
        top: -14px;
    }
    .navfix {
        padding: 16px 0 10px 0;
        border-radius: 20px;
    }
    .navfix ul li.active:after {
        top: -16px;
        background-size: 140px;
    }
    
.stringarea h3 img {
    width: 30px;
    margin: 0 6px 0 0;
}
.checkicon {
    width: 30px;
    height: 30px;
    line-height: 27px;
}

.stringarea h3 {
    font-size: 15px;
}
.withdraw-wrap .nav-tabs .nav-link {
    max-width: 134px;
    font-size: 15px;
}
.navfix ul li {
    width: 18%;
}
.progresiontxt h6 {
    font-size: 20px;
    padding: 0;
}
.greendivin {
    width: 20px;
    height: 20px;
}
.greendiv {
    width: 34px;
    height: 34px;
}
}
@media (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
    .headermenu a {
        font-size: 15px;
    }
    .moneytxt h6 {
        font-size: 16px;
    }
    .arrowburger img {
        width: 30px;
    }
    .menuicons {
        margin: 0 0 0 6px;
    }
    .headermenu {
        padding: 8px 10px 8px 10px;
    }
    .totallft h3 {
        font-size: 20px;
        padding: 10px 0;
    }
    .moneytxt {
        width: 32%;
        background-size: 100% 100%;
    } 
    .headbg a img {
        width: 15px;
    }
        .moneytxt img {
            width: 50px;
        }
        .adtext h5 {
            font-size: 16px;
        }
        .adtext {
            font-size: 16px;
            margin: 0 0 0 14px;
        }
        .adtext span img {
            max-width: 25px;
        }
        .adarea {
            padding: 11px 10px 11px 10px;
            border-radius: 20px;
            margin: 10px 0 0 0;
        }
        .adlogo img {
            width: 34px;
        }
        .totaldetail h6 {
            font-size: 18px;
            padding: 0 0 10px 0;
        }
        .playedtxt {
            padding: 14px 15px 14px 15px;
        }
        .mainwrapp {
            padding: 0 0 150px 0;
        }
        .textdiv span {
            font-size: 12px;
        }
        .arrowdiv img {
            width: 8px;
        }
        .rewardarea {
            padding: 0 14px 1px 14px;
        }
        .stringarea {
            padding: 10px 6px;
        }
        .stringwrapp {
            padding: 10px;
        }
        .limboimg {
            margin: 20px 0 30px 0;
        }
        .limboimg img {
            width: 95%;
        }
        .withdrawheading h2 {
            font-size: 23px;
            padding: 0 0 10px 0;
        }
        .username span {
            font-size: 16px;
            padding: 12px 20px;
        }
        .rewararea {
            font-size: 18px;
        }
        .numberlist ul {
            padding: 6px 0;
        }
        .choosenu ul li a {
            font-size: 16px;
        }
        .choosenu ul li {
            max-width: 48px;
            height: 33px;
        }
        .choosenu ul li a {
            border-radius: 7px;
        }
        .choosenubg ul {
            padding: 0 16px;
        }
        .betamount h5 {
            font-size: 16px;
            padding: 0 0 10px 0;
        }
        .betamntbtn > div {
            width: 50%;
            padding: 3px 18px;
        }
        .betbtn button {
            font-size: 16px;
        }
        .inputtxt input {
            font-size: 16px;
        }
        .inputtxt img {
            width: 22px;
        }
        .betamount {
            padding: 10px 14px 10px 14px;
            border-radius: 22px;
        }
        .betamntbtn > div {
            height: 30px;
            border: 2px solid rgba(104, 71, 168, 0.3);
            align-items: center;
        }
        .betamntbtn .betbtn {
            border: 0;
        }
        .header {
            margin: 0px 0 16px 0;
        }
        .titlebg {
            max-width: 170px;
        }
        .titlebg h6 {
            font-size: 16px;
        }
        .usericon img {
            width: 80px;
        }
        .usericon:before {
            width: 85px;
            height: 85px;
        }
        .usericon:after {
            width: 85px;
            height: 85px;
        }
        .usericon {
            max-width: 80px;
        }
        .container{
            max-width: 94%;
        }
        .numberlist ul li a {
            font-size: 16px;
            border-radius: 6px;
        }
        .navfix ul li img {
            width: 16px;
        }
        .navfix ul li span {
            font-size: 16px;
        }
        .navfix ul li span:first-child {
            margin: 0 0 5px 0;
        }
        .navfix ul li.active span {
            font-size: 18px;
        }
        .navfix ul li.active img {
            width: 26px;
        }
}

@media (max-width: 767px) {
	 
}
