@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap");
@import url("bootstrap.min.css");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  background: rgba(35, 35, 69, 1);

  line-height: 1.4;
  overflow-x: hidden;
  font-family: "Roboto", serif;
}

a,
i,
.btn,
button,
img,
span,
.dropdown-item,
.hover-translate {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

a {
  color: #d3bfdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 20px;
  margin: 0;
}

h1 {
  font-size: 46px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  padding: 0;
}
.headermenu {
  box-shadow: 0px 4px 30px 0px #00000080;
  background: #0b0914;
  color: #fff;
  padding: 30px 42px 40px 42px;
  align-items: center;
}
.header {
  color: #fff;
  margin: 0px 0 26px 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.headermenu a {
  font-size: 35px;
  font-weight: 500;
  color: #fe9578;
  background-image: linear-gradient(180deg, #fe9578 46%, #fac8fb 69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuicons {
  margin: 0 0 0 62px;
}

.moneytxt {
  background: url(../img/headbglft.png) no-repeat;
  background-position: left;
  width: 40%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 0 0;
  background-size: 88% 100%;
}
.moneytxt div {
  width: 100%;
}
.moneytxt h6 {
  font-size: 40px;
  font-weight: 500;
  padding: 00 0 10px 0;
  width: 100%;
}
.usericon {
  position: relative;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 4px 10px 0px rgba(38, 198, 73, 0.7);
  max-width: 202px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.usericon img {
  box-shadow: 0px 4px 10px 0px rgba(38, 198, 73, 0.7);
  border-radius: 50%;
}
.usericon:after {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(61, 167, 228, 1) 0%,
    rgba(61, 167, 228, 0) 100%
  );
  border-radius: 50%;
  width: 202px;
  height: 202px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.usericon:before {
  content: "";
  width: 197px;
  height: 197px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: linear-gradient(180deg, #050508 0%, #3c263c 100%);
}
.moneytxtryt {
  background: url(../img/headbgryt.png) no-repeat;
  background-position: right;
  background-size: 88% 100%;
}
.adarea {
  border: 2px solid #7374a280;
  backdrop-filter: blur(15px);
  box-shadow: 0px 10px 20px 0px #00000040;
  border-radius: 30px;
  padding: 31px 30px 18px 30px;
}
.username {
  text-align: center;
}
.username span {
  font-weight: 500;
  font-size: 30px;
  color: rgba(211, 191, 223, 1);
  background: url(../img/userbgtxt.png) no-repeat;
  background-position: 50% 0;
  padding: 18px 50px;
  z-index: 1;
  position: relative;
}

.mainwrapp {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    hsl(0deg 0% 0% / 68%) 100%
  );

  padding: 0 0 331px 0;
  /* overflow: hidden; */
}

.mainglft img {
  width: 100%;
}
.adtext h5 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  font-family: "Roboto", serif;
}
.adtext {
  font-size: 50px;
  color: #fee139;
  margin: 0 0 0 29px;
}
.greendivin {
  border: 4px solid rgb(58 236 163 / 50%);

  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: rgb(41 235 72 / 60%);
  box-shadow: 0px 6px 10px 0px #ffffff99 inset;
  
}
.greendiv {
  background: url(../img/greenbg.png) no-repeat;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.adtext p {
  margin: 0;
  font-family: "Roboto", serif;
}
.limboimg {
  text-align: center;
  margin: 210px 0 243px 0;
}
.totaldetail {
  color: #d3bfdf;
  margin: 0 0 145px 0;
}
.totaldetail h6 {
  font-size: 35px;
}
.totallft {
  box-shadow: 0px 4px 20px 0px #00000066;
  border-radius: 35px;
  background: linear-gradient(
    249.79deg,
    rgba(176, 112, 227, 0.5) -2.81%,
    rgba(54, 54, 106, 0) 41.96%,
    rgba(176, 112, 227, 0.1) 95.62%
  );
  backdrop-filter: blur(15px);
  width: 49%;
  text-align: center;
  padding: 11px 12px;
  border: 3px solid rgba(22, 24, 62, 1);
}
.totallft h3 {
  font-size: 50px;
  padding: 20px 0;
  color: #fff;
}
.fill {
  border: 2px solid rgb(104 71 168 / 30%);
  width: 100%;
  height: 25px;
  border-radius: 500px;
  position: relative;
}
.playedtxt {
  background: #0e0e32;
  border-radius: 25px;
  border: 3px solid #16183e;
  padding: 14px 25px 30px 25px;
}
.filledline {
  box-shadow: 0px 4px 0px 0px #ffffff4d inset;
  /* box-shadow: 0px 40px 30px 0px #FFFFFF40 inset; */
  /* box-shadow: 0px 10px 20px 0px #00000033; */
  position: absolute;
  width: 241px;
  height: 23px;
  left: 0;
  background: linear-gradient(180deg, #8f05f3 0%, #8702d1 51.04%, #6e079d 100%);
  border-radius: 12px;
}
.navfix {
  backdrop-filter: blur(30px);
  box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(64, 53, 93, 0.7);
  overflow: hidden;
  padding: 76px 0 30px 0;
  border-radius: 70px;
  position: fixed;
  bottom: 35px;
  width: 95%;
  left: 50%;
  transform: translate(-50%, 0);
}
.navfix ul {
    padding: 0;
}
.navfix ul li {
  display: inline-block;
  list-style: none;
  width: 19%;
  text-align: center;
}

.navfix ul li span:first-child {
  margin: 0 0 40px 0;
}
.navfix ul li span {
  font-size: 30px;
  font-weight: 500;
  display: block;
  color: rgba(213, 189, 224, 1);
}

.positiona {
  position: absolute;
  left: 44px;
  z-index: -1;
  top: 0;
}
.positionar {
  right: 0;
  left: auto;
}
.mainwrapp:after {
  content: "";
  /* position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); */
}
.mainbg:after {
  content: "";
  /* background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%); */
  width: 100%;
  height: 484px;
  position: absolute;
  top: 0;
  z-index: -1;
}
.adtext span img {
  max-width: 55px;
}
.navfix ul li.active {
  position: relative;
}
.navfix ul li.active:after {
  background: url(../img/activebg.png) no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -76px;
  z-index: -1;
  left: 0;
  background-size: cover;
  background-position: center;
}
.navfix ul li.active:before {
  content: "";
  box-shadow: 0px -3px 0px 0px #ffffffb2 inset;
  background: blue;
  width: 133px;
  height: 12px;
  position: absolute;
  top: -76px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  background: #fec0a9;
  border-radius: 0 0 15px 15px;
}
.navfix ul li.active span {
  font-size: 40px;
}
.headbg {
  background: url(../img/headbg.png) no-repeat;
  background-size: 100% 100%;
  background-position: 0 -22px;
}
.mainglft {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 70%;
}
.mainbgfull:before {
  background: url(../img/homebg.png) no-repeat;
  background-size: 100% 100% ;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 30%;
  top: 157px;
  height: calc(100% - 160px);
  
}
.navfix ul li.active img {
  filter: brightness(0) invert(1);
}
.adareap {
  margin: 60px 0 0 0;
}

/* playarea */
.numberlist {
  background: linear-gradient(
    90deg,
    rgba(13, 11, 24, 0.6) 0%,
    rgba(68, 58, 126, 0.24) 49.5%,
    rgba(13, 11, 24, 0.6) 100%
  );
}

.numberlist ul {
  display: flex;
  justify-content: space-around;
  border: 2px solid #7374a280;
  padding: 20px 0;
  margin: 25px 0 0 0;
}
.numberlist ul.previousNumbers{
  justify-content: flex-end;
}
.numberlist ul li {
  list-style: none;
  max-width: 183px;
  height: 66px;
  width: 100%;
}
.numberlist ul li a {
  background: #0e0e32;
  border: 3px solid #16183e;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #ffffff;
}
.numberlist ul li a.active {
  background: linear-gradient(180deg, #8f05f3 0%, #8702d1 51.04%, #6e079d 100%);
  border: 3px solid rgb(190 67 255 / 50%);
  backdrop-filter: blur(10px);
}

.numberlistbg {
  background: url(../img/playareabg.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.choosenu {
  border: 2px solid #7374a280;
  background: linear-gradient(
    90deg,
    rgba(13, 11, 24, 0.6) 0%,
    rgba(68, 58, 126, 0.24) 49.5%,
    rgba(13, 11, 24, 0.6) 100%
  );
  position: relative;
  margin: 0 0 20px 0;
}
.choosenu h6 {
  font-size: 35px;
  padding: 0;
  font-weight: 400;
  text-align: center;
  padding: 12px 0 20px 0;
}

.choosenu ul li a,.choosenu ul li .number-btn {
  background: #0e0e32;
  border: 3px solid #16183e;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: #ffffff;
  font-weight: 600;
}
.choosenu ul li {
  list-style: none;
  max-width: 203px;
  height: 93px;
  width: 100%;
  margin: 0 0 28px 0;
}
.choosenu ul li a.active,.choosenu ul li button.number-btn.active {
  background: linear-gradient(180deg, #f7cc03 0%, #fdbc02 33.5%, #fc9e01 84.5%);
  border: 3px solid #f8c902;
  backdrop-filter: blur(10px);
}
.choosebga {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
}
.choosebga img {
    width: 100%;
}

.choosenubg ul {
  padding: 0 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.betamount {
  background: linear-gradient(
    249.79deg,
    rgba(176, 112, 227, 0.5) -2.81%,
    rgba(54, 54, 106, 0) 41.96%,
    rgba(176, 112, 227, 0.1) 95.62%
  );
  border: 4px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(232, 226, 255, 0.2) 0%,
    rgba(79, 68, 128, 0.2) 100%
  );
  border-radius: 57px;
  width: 98%;
  margin: 0 auto;
  padding: 25px 22px 30px 22px;
  width: 96%;

}
.betamount h5 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  padding: 0 0 20px 0;
  color: rgba(211, 191, 223, 1);
}
.inputtxt {
  background: linear-gradient(180deg, #141323 0%, #171837 100%);
  border-radius: 65px;
  border: 4px solid rgba(104, 71, 168, 0.3);
  margin: 0 26px 0 0;
}
.betamntbtn > div {
  width: 50%;
  padding: 5px 33px;
}
.betamntbtn .betbtn {
  padding: 0;
}
.inputtxt input {
  background: none;
  border: 0;
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}
.inputtxt input::placeholder {
  color: #fff;
}

.betbtn button {
  width: 100%;
  height: 100%;
  border-radius: 65px;
  background: linear-gradient(90deg, #129b41 0%, #b7f50a 100%);
  border: 2px solid;
  border-image-source: linear-gradient(270deg, #d5fd3f 0%, #57c12c 100%);
  font-size: 60px;
  color: #fff;
}

.betwrap .adarea {
  margin: 37px auto 0 auto;
  width: 89%;
}
.inputtxt input:focus {
  outline: 0;
}

/* Task css */
.progresiontxt {
  background: rgb(14 14 50 / 50%);
  border: 3px solid rgba(22, 24, 62, 1);
  border-radius: 25px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.progresiontxt h6 {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
.progressbarmainf {
  background: url(../img/progressbg.png) no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.progresionmain {
  background: linear-gradient(
    249.79deg,
    rgba(176, 112, 227, 0.5) -2.81%,
    rgba(54, 54, 106, 0) 41.96%,
    rgba(176, 112, 227, 0.1) 95.62%
  );
  padding: 12px;
  border-radius: 35px;
  margin: 0 0 17px 0;
}

.arrowdiv {
  margin: 0 40px 0 0;
}
.textdiv span {
  font-size: 40px;
  color: #ffffff;
}
.rewardarea {
  background: linear-gradient(
    249.79deg,
    rgba(176, 112, 227, 0.5) -2.81%,
    rgba(54, 54, 106, 0) 41.96%,
    rgba(176, 112, 227, 0.1) 95.62%
  );
  border-radius: 45px;
  padding: 0 34px 44px 34px;
}
.rewardarea .adarea {
  margin: 0 0 14px 0;
}
.titlebg h6 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding: 0;
}
.titlebg {
  background: url(../img/titlebg.png) no-repeat;
  background-position: center;
  max-width: 350px;
  background-size: 100% 100%;
  margin: 0 auto 20px auto;
  padding: 10px 0;
}

.withdrawheading h2 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: rgba(254, 225, 57, 1);
  padding: 0 0 20px 0;
}
.withdraw-wrap .nav-tabs .nav-link {
  font-size: 45px;
  color: #ffffff;
  background: url(../img/titlebg.png) no-repeat;
  border: 0;
  width: 100%;
  max-width: 362px;
  background-size: 100% 100%;
}
.withdraw-wrap .nav-tabs .nav-link.active {
  background: url(../img/titlebgactive.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.withdraw-wrap .nav-tabs {
  justify-content: center;
  border: 0;
}
.stringwrapp {
  background: url(../img/stringbg.png) no-repeat;
  background-size: 101% 100%;
  padding: 20px;
  /* margin: 19px 0 0 0; */
}

.stringarea {
  background: linear-gradient(
    180deg,
    rgb(20 19 35 / 50%) 0%,
    hsl(238deg 41% 15% / 50%) 100%
  );
  border-radius: 25px;
  border: 4px solid rgba(104, 71, 168, 0.3);
  padding: 24px 26px;
  margin: 0 0 15px 0;
}
.stringarea h3 {
  padding: 0;
  font-size: 50px;
  color: #7bebfb;
  display: flex
  ;
      align-items: center;
} 
.rewararea p {
  margin: 0;
}
.checkicon {
  background: url(../img/checkbg.png) no-repeat;
  width: 91px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  box-shadow: 0px 10px 11px -2px #66c925;
  border-radius: 50%;
  background-size: cover;
}

.rewararea {
  font-size: 45px;
  font-weight: 500;
  margin: 0 22px 0 32px;
}
.rewararea img {
  margin: 0 3px;
}

.withdrawmainb {
  border: 2px solid rgba(115, 116, 162, 0.5);
  border-left: 0;
  border-radius: 0;
  margin: 23px 0 0 0;
  padding: 17px 0 0 0;
  background: linear-gradient(
    90deg,
    rgba(13, 11, 24, 0.6) 0%,
    rgba(68, 58, 126, 0.24) 49.5%,
    rgba(13, 11, 24, 0.6) 100%
  );
}
.stringwrapp:first-child {
  margin: 19px 0 0 0;
}
/* withdraw */
.withdrawtab .withdrawheading {
  background: linear-gradient(
    90deg,
    rgba(152, 138, 228, 0.06) 0%,
    rgba(195, 184, 255, 0.6) 49.5%,
    rgba(152, 138, 228, 0.06) 100%
  );
}
.withdrawtab .withdrawheading h2 {
  padding: 12px 0;
}
.mainform {
  background: linear-gradient(
    249.79deg,
    rgba(176, 112, 227, 0.5) -2.81%,
    rgba(54, 54, 106, 0) 41.96%,
    rgba(176, 112, 227, 0.1) 95.62%
  );
  border-radius: 45px;
  margin: 106px 0 0 0;
  padding: 54px 0 1px 0;
}
.mainform label {
  font-size: 40px;
  color: #d6c0e5;
  position: absolute;
  top: -33px;
  background: #1f1b37;
  padding: 0 10px;
  left: 30px;
}
.mainform .formlabels:last-child {
  margin-bottom: 20px;
}
.formlabels input,
.formlabels select {
  font-size: 50px;
  color: #fff;
  background: linear-gradient(180deg, #141323 0%, #171837 100%);
  border: 0;
  width: 100%;
  border: 4px solid rgba(104, 71, 168, 0.3);
  border-radius: 500px;
  padding: 21px 50px;
}
.formlabels input::placeholder {
  color: #fff;
}
.formlabels {
  border-radius: 40px;
  border: 4px solid rgba(104, 71, 168, 0.5);
  margin: 0 19px 48px 19px;
  padding: 50px 20px 28px 20px;
  position: relative;
}
.formlabels select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
.formselect:after {
  background: url(../img/arrowbtm.png) no-repeat;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
}
.withdrawbtn {
  text-align: center;
  margin: 82px 0 92px 0;
}
.withdrawbtn button {
  background: linear-gradient(90deg, #fe8e00 0%, #ffdb1a 100%);
  border: 2px solid;
  border-image-source: linear-gradient(270deg, #eee5c0 0%, #ffbc2c 100%);
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50px;
  width: 100%;
  max-width: 958px;
}
.formselect {
  position: relative;
}
.formselect:after {
  background: url(../img/arrowbtm.png) no-repeat;
  content: "";
  width: 70px;
  height: 27px;
  position: absolute;
  right: 47px;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-left: 4px solid rgba(104, 71, 168, 0.5);
  background-position: right;
  padding: 39px 0;
}

.historywrap tr td {
  font-size: 40px;
  color: #ffffff;
}

.historywrap tr td span {
  display: block;
  font-size: 35px;
  color: #d6c0e5;
}
.historywrap tr th {
  font-weight: 400;
  font-size: 35px;
  color: rgba(214, 192, 229, 1);
}
.historywrap thead tr {
  border: 4px solid rgba(104, 71, 168, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 0 0 rgb(104 71 168);
}
.historywrap tbody tr {
  background: url(../img/tdbg.png) no-repeat;
  background-size: 102% 116%;
  background-position: -13px 0;
}
.historywrap tbody tr td {
  padding: 24px 0;
}
.historywrap tbody tr td:first-child {
  padding-left: 45px;
}

.mainbgfull {
  position: relative;
}
.stringarea h3 img {
    width: 118px;
    margin: 0 17px 0 0;
}